# ***Hypothesis Testing Exsercise***

**TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.**

In [1]:
# import libraries

import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [2]:
# Load the dataset
data = pd.read_csv(r"/content/Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
# Applying Descriptive Statistics
data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
# Checking for Null Values
data.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [7]:
# Checking the data type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [10]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [11]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [12]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [13]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [15]:
# Make a contingency table
observation = np.array([[271,267,269,280],[29,33,31,20]])
observation

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [17]:
# Chi2 contengency independence test
chi2_contingency(observation) 
# o/p is (Chi2 stats value, p_value, df, expected obsvations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [18]:
observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [20]:
test_statistic , p_value = stats.chisquare(observed, expected, ddof = 3)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

In [ ]:
# compare p_value with Î± = 0.05 (At 5% significance level)
# We fail to reject Null hypothesis
'''We fail to reject Null Hypothesis because of lack of evidence.'''

# ***Answer -: We fail to reject Null Hypothesis because of lack of evidence.***